<html>

<head>
    <title>sign Up</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="m1.css">

</head>

<body style="background-color: aquamarine;">

    <div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br>

    <center>
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body py-5 px-md-5">
                    <form name="Form2" action="signup.php" method="get">
                        <h3>Sign Up</h3>
                        <!-- Email input -->
                        <b>Sign Up as: </b>
                        <select name="s" size="1">
<option value="owner">Owner</option>
<option value="tsenant">Tenant</option>
</select>
                        <br><br>
                        <center>
                            <input type=submit value="Submit" class="rent-now-button"></center>



                        <!-- Submit button -->



                    </form>

                </div>
            </div>
        </div>

        <!-- Jumbotron -->

        <!-- Section: Design Block -->


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>