<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">



</head>

<body style="background-color:rgb(230, 242, 217);">
    <!-- Section: Design Block -->

    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Owner Sign Up <br />
                            <h3 style="color: rgb(22, 205, 237);">Rent the house in a reasonable price</h3>
                        </h1>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form name="Form2" action="../controller/ownersignup.php" method="get">

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1" class="form-control" placeholder="Name" name="f" value="" size=25/>
                                        <label class="form-label" for="form3Example1"></label>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form3Example3" class="form-control" placeholder="Email address" name="e" value="" size=25/>
                                        <label class="form-label" for="form3Example3"></label>
                                    </div>


                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form3Example4" class="form-control" placeholder="Password" name="p" value="" size=25/>
                                        <label class="form-label" for="form3Example4"></label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="number" id="form3Example3" class="form-control" placeholder="Contact No" name="m" value="" size=25/>
                                        <label class="form-label" for="form3Example3"></label>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1" class="form-control" placeholder="Occupation:" name="o" value="" size=25/>
                                        <label class="form-label" for="form3Example1"></label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="number" id="form3Example3" class="form-control" placeholder="Number of Houses" name="n" value="" size=25/>
                                        <label class="form-label" for="form3Example3"></label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1" class="form-control" placeholder="City:" name="ci" value="" size=25/>
                                        <label class="form-label" for="form3Example1"></label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1" class="form-control" placeholder="Address:" name="a" value="" size=25/>
                                        <label class="form-label" for="form3Example1"></label>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4" name="submit">
                    Sign up
                  </button>


                                </form>
                                <br>
                                <a href="signin.html" style="color:rgb(23, 178, 239)"><b>Already a member?Sign in here</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->


</body>

</html>